.auth_card {
  width: 100%;
  background-color: hotpink;
}

.auth_title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #222;

}

.auth_subtitle {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}

.auth_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #666;
}

.create_btn {
  height: 48px;
  border: none;
  border-radius: 6px;
  background: #8b0015;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.create_btn:hover {
  opacity: 0.9;
}