
.verification-page {
  min-height: 100vh;
  padding: 30px 20px;
  background: #faf7f7;
  background-image: url();
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.progress-wrapper {
  width: 100%;
  max-width: 500px;
  display: flex;
  gap: 10px;
  margin-bottom: 60px;
}

.progress-step {
  flex: 1;
  height: 8px;
  border-radius: 10px;
  background: #e5c9cf;
  transition: 0.3s ease;
}

.progress-step.active {
  background: #7c0f2b;
}





@media (max-width: 768px) {
  /* .verification-card h2 {
    font-size: 24px;
  }

  .icon-circle {
    width: 100px;
    height: 100px;
  }

  .shield-icon {
    font-size: 50px;
  } */

  .progress-wrapper {
    max-width: 400px;
  }
}