.Footer_con {
  width: 100%;
  min-height: 75vh;
  background: #17171c;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "El Messiri", sans-serif;
}

.Footer_top {
  width: 90%;
  min-height: 55vh;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.Footer_brand {
  width: 30%;
  padding-bottom: 5rem;

}

.Footer_brand h1 {
  color: white;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.Footer_brand p {
  color: #f1f1f1;
  font-size: 1.3rem;
  line-height: 2.2rem;
  width: 75%;
}

.Footer_links {
  width: 15%;
}

.Footer_links h3 {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.Footer_links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Footer_links li {
  color: #f1f1f1;
  font-size: 1.2rem;
  cursor: pointer;
}

.Footer_bottom {
  width: 85%;
  min-height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4%;
}

.Footer_bottom p {
  color: white;
  font-size: 1.5rem;
}

.Footer_icons {
  width: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 1.9rem;
}

.Footeric {
  width: 15%;
  height: 10%;
  color: black;
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* TABLET */

@media screen and (max-width: 1024px) {
  .Footer_top {
    width: 95%;
  }

  .Footer_brand {
    width: 35%;
  }

  .Footer_brand p {
    width: 100%;
    font-size: 1.1rem;
  }

  .Footer_links {
    width: 18%;
  }

  .Footer_links h3 {
    font-size: 1.2rem;
  }

  .Footer_links li {
    font-size: 1rem;
  }

  .Footer_icons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Footeric {
    width: 20%;
    height: 10%;
    color: black;
    background-color: #f1f1f1;
    border-radius: 10px;
  }
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .Footer_con {
    padding: 2rem 0;
  }

  .Footer_top {
    width: 90%;
    flex-direction: column;
    gap: 3rem;
    padding-top: 2rem;
  }

  .Footer_brand {
    width: 100%;
  }

  .Footer_brand h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .Footer_brand p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .Footer_links {
    width: 100%;
  }

  .Footer_links h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .Footer_links ul {
    gap: 0.8rem;
  }

  .Footer_links li {
    font-size: 1rem;
  }

  .Footer_bottom {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem;
  }

  .Footer_bottom p {
    font-size: 0.9rem;
  }
  .Footer_icons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Footeric {
    width: 20%;
    height: 10%;
    color: black;
    background-color: #f1f1f1;
    border-radius: 10px;
  }
}

/* SMALL PHONES */

@media screen and (max-width: 480px) {
  .Footer_brand h1 {
    font-size: 1.7rem;
  }

  .Footer_brand p {
    font-size: 0.95rem;
    line-height: 1.6rem;
  }

  .Footer_links h3 {
    font-size: 1.1rem;
  }

  .Footer_links li {
    font-size: 0.95rem;
  }

  .Footer_icons {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .Footeric {
    width: 10%;
    height: 5%;
    color: black;
    background-color: #f1f1f1;
    border-radius: 10px;
  }
}
