.login-card {
  width: 100%;
}

/* .back-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  margin-bottom: 20px;

  text-decoration: none;
  color: #333;

  font-size: 14px;
  font-weight: 500;
} */

/* .forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a {
  text-decoration: none;
  color: #7d0f1d;
  font-size: 14px;
  font-weight: 500;
} */