/* .signup_image_section{
  height:600px ;
} */


.name_row {
  display: flex;
  gap: 15px;
}

.name_row .input_group {
  flex: 1;
}

.divider {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #d9d9d9;
}

.divider p {
  font-size: 14px;
  color: #666;
  margin: 0;
}
.google_btn {
  width: 100%;
  height: 48px;
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 14px;
  font-weight: 500;
  color: #333;
}