.sidebar {
  width: 240px;
  height: calc(100vh - 60px);
  background: #fff;

  position: sticky;
  top: 60px;
  left: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  scrollbar-width: none;
  overflow-y: auto;
}

.Cliped {
  width: 90%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
 

  .imgt {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Goldied {
  
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
 
    border-radius: 50px;
    background-color: #5a5a5a;
    color: #fff;
    font-size: 40px;
  }

  .put {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    flex-wrap: wrap;
    padding-top: 10px;

    p {
      color: #5a5a5a;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;

  .trd {
    width: 12%;
    height: 90%;
    color: #7a0018;
  }
}

.link:hover {
  background: #ce7386;
  color: white;

  .trd {
    width: 12%;
    height: 90%;
    color: black;
  }
}

.link.active {
  background: #7a0018;
  color: white;
  .trd {
    width: 12%;
    height: 90%;
    color: white;
  }
}

.logout {
  border-top: 1px solid #eee;
}
.logouted {
  border-top: 1px solid #eee;
}

.logoutBtn {
  width: 100%;
  padding: 2px;

  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  color: red;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  gap: 2px;

  .trd {
    width: 12%;
    height: 90%;
  }
}

.logoutB {
  width: 100%;
  padding: 40px;

  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  gap: 2px;
  text-decoration: none;

  .trd {
    width: 12%;
    height: 90%;
  }
}
