:root {
  --color-backgruond: #fbf8f3;
  --color-border: #c8a96b;
  --color-wine: #6c0319;
  --color-white: #ffff;
  font-family: "El Messiri", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "El Messiri", sans-serif;
}

.NavLink {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.NavLinked {
  color: black;
  font-weight: 500;
  text-decoration: none;
}
